<!-- extends -->
{% extends 'base.html' %}
<!-- body -->
{% block contents %} {% load static %}
<!-- Spinner Start -->
{% include 'snippets/spinner.html' %}
<!-- Topbar Start -->
{% include 'snippets/topbar.html' %}
<!-- Topbar End -->
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          {% if form.errors %}
          <div class="alert alert-danger">
            <ul>
              {% for field, errors in form.errors.items %}
              <!-- two -->
              {% for error in errors %}
              <li>{{ field}}: {{ error }}</li>
              {% endfor %}
              <!-- two -->
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="../../images/logo.svg" alt="logo" />
            </div>
            <h4>New here?</h4>
            <h6 class="font-weight-light">
              Signing up is easy. It only takes a few steps
            </h6>
            <form class="pt-3" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control form-control-lg"
                  id="{{form.name.auto_id}}"
                  placeholder="Input Your Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="form-control form-control-lg"
                  id="{{form.email.auto_id}}"
                  placeholder="Input Your Email"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="phone"
                  class="form-control form-control-lg"
                  id="{{form.phone.auto_id}}"
                  placeholder="Input Your Phone"
                />
              </div>
              <!-- <div class="form-group">
                <select
                  class="form-control form-control-lg"
                  id="exampleFormControlSelect2"
                >
                  <option>Country</option>
                  <option>United States of America</option>
                  <option>United Kingdom</option>
                  <option>India</option>
                  <option>Germany</option>
                  <option>Argentina</option>
                </select>
              </div> -->
              <div class="form-group">
                <input
                  type="password"
                  name="password1"
                  class="form-control form-control-lg"
                  id="{{form.password1.auto_id}}"
                  placeholder="Input Your Password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password2"
                  class="form-control form-control-lg"
                  id="{{form.password2.auto_id}}"
                  placeholder="Re-enter Your Password"
                />
              </div>
              <!-- <div class="mb-4">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" />
                    I agree to all Terms & Conditions
                  </label>
                </div>
              </div> -->
              <div class="mt-3">
                <button
                  type="submit"
                  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                >
                  SIGN UP
                </button>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Already have an account?
                <a href="/accounts/login/" class="text-primary">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<link href="{% static 'css/regis.css' %}" rel="stylesheet" />
{% endblock contents %}
