{% load static %}
<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="text-primary">
        <i class="fas fa-search-dollar me-3"></i>Blue
        <span class="ubuntu-color">Zapus</span>
      </h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="/" class="nav-item nav-link active">Home</a>
        <a href="/about/" class="nav-item nav-link">About</a>
        <a href="/service/" class="nav-item nav-link">Services</a>
        <a href="/book/" class="nav-item nav-link">Book</a>
        <a href="/contact/" class="nav-item nav-link">Contact Us</a>
      </div>
    </div>
  </nav>

  <!-- Carousel Start -->
  {% include 'snippets/crousel_home.html' %}
  <!-- Carousel End -->
</div>
<!-- Navbar & Hero End -->
